[submodule "hf_space/TIGERScore"]
	path = hf_space/TIGERScore
	url = https://huggingface.co/spaces/TIGER-Lab/TIGERScore
[submodule "data/real-world/d2t/webnlg/challenge-2020"]
	path = data/real-world/d2t/webnlg/challenge-2020
	url = https://github.com/WebNLG/challenge-2020
[submodule "data/evaluation/storygen/OpenMEVA"]
	path = data/evaluation/storygen/OpenMEVA
	url = https://github.com/thu-coai/OpenMEVA