transformers>=4.33.2
datasets>=2.10.0
torch
accelerate
wget
pycocoevalcap
spacy
evaluate
prettytable
fairscale
bert_score
gdcm 
pydicom
sacremoses
apache_beam
deepspeed
bitsandbytes
openai
nltk
scipy
json5
peft
fire
gradio
sentencepiece
tiktoken
dacite
wandb
rouge_score
bs4
py7zr
sacrebleu
gdown
accelerate
bitsandbytes
git+https://github.com/google-research/mt-metrics-eval.git
