transformers
datasets
torch
accelerate
wget
pycocoevalcap
spacy
evaluate
prettytable
gdcm 
pydicom
bitsandbytes
openai
nltk
scipy
json5
peft
fire
gradio
sentencepiece
tiktoken
dacite
wandb
bs4
py7zr
gdown
