torch
transformers
git+https://github.com/Unbabel/COMET.git
git+https://github.com/jdf-prog/UniEval.git
nltk
git+https://github.com/google-research/bleurt.git
fire
rouge_score
bert_score
git+https://github.com/huggingface/evaluate@18932858570b9fa97ac478e1e6e709438e4d093b
pycocoevalcap
spacy
git+https://github.com/google-research/mt-metrics-eval.git
prettytable
psutil
sacrebleu
mosestokenizer
pytorch-lightning==2.0.0